doctype html
html(lang "ru-RU")
    head
        title Hello world
        link(rel="stylesheet" type="text/css" href="static/css/main.css")
    body
        header#header Mans
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2!
            .slider
                .slider-item ONE
                .slider-item TWO
                .slider-item THREE
            p.text Hello, pug2456546
        main.main Main

        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")