doctype html
html(lang "ru-RU")
    head
        title Hello world
        link(rel="stylesheet" type="text/css" href="static/css/main.css")
    body
        header#header Mans
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2!
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
            p.text Hello, world!
            p.text Hello, pug!
            p.text Hello, pug2
        main.main Main