doctype html
html(lang="ru-RU")
    head
        | <meta charset="UTF-8">
        | <meta name="viewport" content="width=device-width, initial-scale=1.0">
        | <meta http-equiv="X-UA-Compatible" content="ie=edge">
        title Hello, world
        link(rel='stylesheet' href='css/styles.min.css')
    body.block_body
        .circle
        .container
            h1 All working!
            p Hello, world!
            button.button PUT
        script(src='scripts/bundle.js')