extends common/base

block content
    include common/header
    - let menu_values = [ { name: 'Products', url: '/pages/products.html' }, { name: 'Contacts', url: '/pages/contacts.html' } ];
        +menu_items(menu_values)

    .circle
    .container
        h1 All working!
        p Hello, world!
        button.button PUT
    .container
        h1 All working!
        p Hello, world!
        button.button PUT
    .container
        h1 All working!
        p Hello, world!
        button.button PUT
    .container
        h1 All working!
        p Hello, world!
        button.button PUT

    include common/footer
    - menu_values = [ { name: 'Products', url: '/pages/products.html' }, { name: 'Contacts', url: '/pages/contacts.html' } ];
        +footer_menu_items(menu_values)

    script(src='scripts/bundle.js')