.marketing {
  &__container {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.025) 62.79%);
    //backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__head,
  &__description {
    max-width: 785px;
  }
  &__head {
    margin-top: 170px;
    font-weight: 700;
    font-size: 68px;
    line-height: 110%;
    color: $white-color;
  }
  &__description {
    margin-top: 30px;
    max-width: 780px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $white-color;
  }
  &__buttons-block {
    display: flex;
    padding-bottom: 210px;
  }
}

.digitals {
  &__container{
    &.blocks {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__block {
    margin-top: 60px;
    margin-right: 60px;
    padding: 0px 30px 40px;
    width: 360px;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, $gray-color 86.8%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &.header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.margin-right-none {
        margin-right: 0px;
      }
    }
  }
  &__head {
    margin-top: 120px;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: $typ-color;
    &-change {
      color: $org-color;
    }
  }
  &__blockhead {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $white-color;
  }
  &__item-change {
    font-weight: 800;
    font-size: 18px;
  }
}

.benefits {
  &__container {
    padding-bottom: 135px;
  }
  &__blocks {
    margin: 5px auto 0px;
    max-width: 1190px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    margin-top: 70px;
    margin-left: 100px;
    max-width: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.margin-none {
      margin-left: 0;
    }
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $gray-color;
    text-align: center;
  }
}
